body{
    font-family: "Inter", 'Times New Roman', serif;
    font-weight: 400;
    letter-spacing: 0.02em;
    font-size: 16px;
    line-height: 1.5;
    
    margin: 0px;
    padding-top: 32px;
    
}
ul{
    list-style-type: none;
}
a{
    text-decoration: none;
}
h1, h2, h3, p{
    margin: 0px;
    padding: 0px;
}
.container{
    background-size: 1440px;
    background-repeat: no-repeat;
    background-image: url(./hero-bg-2x.jpg);
}


/* Початок стилів хедера */


.header-container{
    border: 1px solid #FBFBFB;
    background-color: #FBFBFB;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    margin: 0px 100px 0px 100px;
    padding: 4px 30px; 
    width: auto;
    align-items: center;
}

.logo{
    font-family: 'Inter';
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.03em;
    text-align: left;
    color: #1B414B;
    margin-top: 8px;
}
.sections-btn-list{
    display: flex;
    gap: 4px; 
}
.section-btn{
    width: 91px;
    height: 40px;
    border-radius: 8px;
    text-align: center;
    background-color: rgba(27, 65, 75, 0.5);
    border: none;
    transition: background-color 700ms cubic-bezier(0.075, 0.82, 0.165, 1); 
}
.section-btn:hover:focus{
    background-color: #1B414B;
}
.section-btn-active{
    width: 91px;
    height: 40px;
    border-radius: 8px;
    text-align: center;
    background-color: #1B414B;
    border: none;
}
.social-svg-container{
display: flex;
align-items: center;
}
.inside-btn-link{
    font-family: 'Inter';
    font-size: 9px;
    font-weight: 400;
    line-height: 12px;
    letter-spacing: 0em;
    text-align: center;
    color: #FBFBFB;
}
.social-link-list{
    display: flex;
    align-items: center;
    gap: 8px;
    margin: 0px;
    padding: 0px;
}
.svg-social{
    fill: #1B414B;
    transition: fill 700ms cubic-bezier(0.075, 0.82, 0.165, 1);
}
.svg-social:hover,
.svg-social:focus{
    fill:  rgba(251, 251, 251, 0.8);
    
}

.main-header{
    font-family: 'Inter';
font-size: 80px;
font-weight: 500;
line-height: 80px;
letter-spacing: 0.02em;
text-align: center;
}
.hero-par{
font-family: 'Inter';
font-size: 16px;
font-weight: 300;
letter-spacing: 0em;
text-align: center;
}
.hero-btn{

}
.hero{
    margin: 165px 0px 90px;
    padding: 0px 220px 0px 220px;
    display: flex;
    flex-direction: column;
    gap: 48px;
    
}
.hero-par{
    width: 600px;
    text-align: center;
}