body{
    font-family: "Inter", 'Times New Roman', serif;
    font-weight: 400;
    letter-spacing: 0.02em;
    font-size: 16px;
    line-height: 1.5;
    
    margin: 0px;

    
}
ul{
    list-style-type: none;
    margin: 0%;
    padding: 0%;
}
a{
    text-decoration: none;
}
h1, h2, h3, p{
    margin: 0px;
    padding: 0px;
}



/* Початок стилів хедера */


.header-container{
    border: 1px solid #FBFBFB;
    background-color: #FBFBFB;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    margin: 0px 100px 0px 100px;
    padding: 4px 30px; 
    width: auto;
    align-items: center;
    
}

.logo{
    font-family: 'Inter';
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.03em;
    text-align: left;
    color: #1B414B;
    margin-top: 8px;
}
.sections-btn-list{
    display: flex;
    gap: 4px; 
    padding: 0px;
}
.section-btn{
    width: 91px;
    height: 40px;
    border-radius: 8px;
    text-align: center;
    background-color: rgba(27, 65, 75, 0.5);
    border: none;
    transition: background-color 700ms cubic-bezier(0.075, 0.82, 0.165, 1); 
}
.section-btn:hover:focus{
    background-color: #1B414B;
}
.section-btn-active{
    width: 91px;
    height: 40px;
    border-radius: 8px;
    text-align: center;
    background-color: #1B414B;
    border: none;
}
.social-svg-container{
display: flex;
align-items: center;
}
.inside-btn-link{
    font-family: 'Inter';
    font-size: 9px;
    font-weight: 400;
    line-height: 12px;
    letter-spacing: 0em;
    text-align: center;
    color: #FBFBFB;
}
.social-link-list{
    display: flex;
    align-items: center;
    gap: 8px;
    margin: 0px;
    padding: 0px;
}
.svg-social{
    fill: #1B414B;
    transition: fill 700ms cubic-bezier(0.075, 0.82, 0.165, 1);
}
.svg-social:hover,
.svg-social:focus{
    fill:  rgba(251, 251, 251, 0.8);
    
}

.main-header{
    font-family: 'Inter';
font-size: 80px;
font-weight: 500;
line-height: 80px;
letter-spacing: 0.02em;
text-align: center;
min-width: 1001px;
margin-right: auto;
margin-left: auto;
margin: 0px 169px 0px 169px;
}
.hero-par{
font-family: 'Inter';
font-size: 16px;
font-weight: 300;
letter-spacing: 0em;
text-align: center;
}
.hero-btn{
    width: 179px;
    height: 52px;
    padding: 16px, 40px, 16px, 40px;
    border-radius: 15px;
    border: none;
    color: #FBFBFB;
    margin: 0px 580px;
    background-color: #1B414B;
    transition: background-color 700ms cubic-bezier(0.075, 0.82, 0.165, 1);
    transition: color 700ms cubic-bezier(0.075, 0.82, 0.165, 1);
}
.hero-btn:hover,
.hero-btn:focus{
    background-color: #FBFBFB;
    color: #1B414B;
}
.hero{
    /* margin: 165px 0px 90px; */
    padding: 235px 0px 180px 0px;
    display: flex;
    flex-direction: column;
    gap: 48px;
    width: 1440px;
    margin: auto;
    align-items: center;
    
}
.hero-par{
    font-family: 'Inter';
font-size: 16px;
font-weight: 300;
line-height: 1.5;
letter-spacing: 0em;
max-width: 597px;
text-align: center;
margin-left: 371px;
margin-right: 371px;
}
.main-upp-section{
    background-size: 1440px;
    background-repeat: no-repeat;
    background-image: url(./hero-bg-2x.jpg);
    background-size: cover;
    padding-top: 32px;
}
.container{
margin-left: auto;
margin-right: auto;
padding: 0px 20px;
}
.about-us {
    margin-bottom: 140px;
    margin-top: -60px;
  }
  
  .about-us-container {
    max-width: 1330px;
    height: 675px;
    background: #fbfbfb;
    border-radius: 24px;
    padding: 50px 50px 100px;
    position: relative;
  }
  
  .about-title {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 28px;
    line-height: 1;
    letter-spacing: -0.02em;
    color: #1b414b;
    padding-top: 50px;
    margin-bottom: 40px;
  }
  
  .about-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 40px;
  }
  
  .first-item {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 18px;
    line-height: 1;
    letter-spacing: -0.02em;
    color: #1b414b;
  }
  
  .second-item {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 12px;
    line-height: 1.07;
    letter-spacing: -0.02em;
    color: #040306;
    opacity: 0.4;
  }
  
  .about-image {
    width: 100%;
    position: absolute;
    left: 0;
    border-radius: 24px;
  }
  
  @media screen and (min-width: 375px) {
    .about-us-container {
      max-width: 335px;
    }
  }
  
  @media screen and (min-width: 768px) {
    .about-us {
      height: 675px;
      margin: auto;
      margin-bottom: 326px;
    }
  
    .about-us-container {
      max-width: 704px;
      margin-top: -60px;
    }
  
    .about-title {
      font-size: 48px;
      width: 536px;
      padding-top: 50px;
      margin-bottom: 50px;
      /* margin-bottom: 50px; */
    }
  
    .about-list {
      max-width: 389px;
      /* padding-top: 50px; */
      margin-bottom: 50px;
    }
  
    .first-item {
      font-size: 23px;
    }
  
    .second-item {
      font-size: 13px;
    }
  
    .about-image {
      width: 100%;
      position: absolute;
      left: 0;
    }
  }
  
  @media screen and (min-width: 320px) {
    .about-us-container {
      width: 100%;
    }
  }
  
  @media screen and (min-width: 1280px) {
    .about-us {
      height: 675px;
      margin: 0 auto;
      margin-bottom: 230px;
    }
  
    .about-us-container {
      max-width: 1180px;
      margin-top: -20px;
      margin-bottom: 300px;
    }
  
    .about-list {
      max-width: 389px;
      margin-top: 50px;
      margin-bottom: 50px;
    }
  
    .about-us-item {
      display: flex;
      justify-content: space-between;
      gap: 189px;
    }
  
    .about-title {
      margin-bottom: 166px;
      width: 570px;
    }
  
    .about-list {
      margin-right: 0px;
    }
  
    .first-item {
      width: 354px;
    }
    .second-item {
      width: 354px;
    }
  
    .about-image {
      width: 100%;
      position: absolute;
      left: 0;
      height: 470px;
    }
  }
  
  @media screen and (min-width: 1440px) {
    .about-us {
      height: 675px;
      margin-bottom: 232px;
    }
  
    .about-us-container {
      max-width: 1340px;
    }
  
    .about-title {
      margin-bottom: 143px;
      width: 537px;
    }
  
    .first-item {
      width: 404px;
    }
  
    .second-item {
      width: 404px;
    }
  
    .about-image {
      width: 100%;
      height: 470px;
      position: absolute;
      left: 0;
    }
  }
  
.buy-yacht{
    display: flex;
    flex-direction: column;
    background-color: #FBFBFB;
    padding: 0px 100px;
    background-color: #0E1823;

}
.dream-yacht{
    font-family: 'Inter';
font-size: 48px;
font-weight: 500;
margin-bottom: 72px;
max-width: 714px;
margin-left: auto;
margin-right: auto;
letter-spacing: -0.02em;
text-align: center;

}

.yachts-list{
  height: auto;
  width:auto;
  display: flex;
  justify-content: center;
  align-items: baseline;
  margin: 0px 100px 40px;
  gap: 32px;
}
.yacht-items{
  height: auto;
  width:auto;
  padding: 16px 16px 32px 16px;
  background-color: #FBFBFB;
  border: none;
  border-radius: 24px;
}

.yacht-img{
  border-radius: 24px;
  margin-bottom: 19px;
}

.header-span-position{
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin: 0px 12px 16px;
}

.header-yacht-name{
  font-family: 'Inter';
font-size: 16px;
font-weight: 500;
line-height: 1.3;
letter-spacing: -0.045em;
text-align: left;
}

.yecht-name{
  font-family: 'Inter';
  font-size: 13px;
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-align: left;
}

.vector-svg-contaainer{
  content: '';
  width: 313px;
  height: 2px;
  background-color: #040306;
  opacity: 0.1;
  margin: 0 auto;
}
.vector-svg{
  stroke-width: 1px;
  stroke: rgba(4, 3, 6, 0.1);
  fill: none;
  width: 313px;
  margin: 0 auto;
}

.list-data-container{
  display: flex;
  justify-content: space-between;
  gap: 172px;
  align-items: baseline;
  margin: 16px 12px 0px 12px ;
}
.list-data{
  display: flex;
flex-direction: column;
gap: 6px;
}
.data-items{
  font-family: 'Inter';
font-size: 14px;
font-weight: 400;
line-height: 1.2;
letter-spacing: 0.03em;
text-align: left;
}

.sec-list-data{
  display: flex;
  flex-direction: column;
  gap: 6px;
}
.sec-data-items{
  font-family: 'Inter';
  font-size: 14px;
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-align: left;
  
}

.yacht-rental-btn{
  font-family: 'Inter';
font-size: 18px;
font-weight: 500;
line-height: 1.1;
letter-spacing: 0.02em;
color: #FBFBFB;
width: 179px;
height: 52px;
padding: 16px, 40px, 16px, 40px;
border-radius: 15px;
border: 1px solid rgba(251, 251, 251, 0.35);
background-color:  #1B414B;
text-align: center;
transition: color 700ms cubic-bezier(0.075, 0.82, 0.165, 1);
transition: background-color 700ms cubic-bezier(0.075, 0.82, 0.165, 1);
margin: 0 auto;
}

.yacht-rental-btn:hover,
.yacht-rental-btn:focus{
  color: #1B414B;
  background-color: #FBFBFB;
}